<div ng-controller="InfoController as info">
	<div class="row" >
		<div class="page-header">
			<h1>{{'WEBAPP_HEADER_LABEL'|translate}}</h1>
		</div>
		<div class="col-sm-3" ng-repeat="superHero in superHeros.data |orderBy: '-lastSeen' ">
			<!-- {{superHeros.data|json}} -->
			<div class="thumbnail">
				<img ng-src="{{superHero.mugshot}}" class="img-responsive" alt="5ata2 fel ta7meel">
				<div class="caption">
					<h4 class="text-center">{{superHero.name}}</h4>
					<h5>{{ 'LOCATION_LABEL' | translate }} {{superHero.location.city}}</h5>
					<h5>{{ 'LAST_SEEN_LABEL' | translate }} {{superHero.lastSeen |date:'dd-MM-yyyy'}}</h5>
					<h5>{{ 'PRIZE_LABEL' | translate }} {{superHero.prize | localCurrency}}</h5>
					<h5>
						<span class="label label-danger">{{superHero.status}}</span>
						<a href='' class="text-right" style="margin-left:85px" ng-click="selectHero(superHero.id)"> {{ 'VIEW_PORTFOLIO_LABEL' | translate }}</a>
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">{{superHeros.data[selectedHeroId-1].name}}</div>
			<div class="panel-body">
				{{superHeros.data[selectedHeroId-1].description}}
			</div>
		</div>
	</div>
</div>