<nav class="navbar navbar-default" role="navigation" ng-controller="panelController as panelCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <!-- <span class="sr-only">Toggle navigation</span> -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">suicide squad recruitment</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-repeat="item in panelItems">
        <li ng-class="{active:isSelected(item.id)}" >
         <a href ng-click="selectTab(item.id)">{{item.name}}</a>
       </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
      <li>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#addSuspect">Add Suspect
        </button>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choose Language <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" ng-click="changeLang('en')">English</a></li>
          <li class="divider"></li>
          <li><a href="#" ng-click="changeLang('ar')">Arabic</a></li>
        </ul>   
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="addSuspect" tabindex="-1" role="dialog" aria-labelledby="addSuspectLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="addSuspectLabel">Add Suspect</h4>
      </div>
      <form class="form-horizontal" name="suspectForm" ng-controller="manageSuspectController as suspectCtrl" ng-submit="suspectForm.$valid && addSuspect(suspectObj)" novalidate>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <label class="col-sm-3 control-label">Name:</label>
              <div class="col-sm-7">
                <input class="form-control" placeholder="name" name="name" type="text" ng-model="suspectObj.name" required ng-pattern="/^[a-zA-Z]+$/" ng-minlength=3>
                <label class="control-label error" ng-show="suspectForm.name.$error.required && suspectForm.name.$dirty">This field is required.
                </label>
                <label class="control-label error" ng-show="suspectForm.name.$error.pattern && suspectForm.name.$dirty">please enter letters only
                </label>
                <label class="control-label error" ng-show="suspectForm.name.$error.minlength && suspectForm.name.$dirty">please enter 3 letters at least
                </label>
              </div>
            </div> 
            <div class="form-group">
              <label class="col-sm-3 control-label">Location:</label>
              <div class="col-sm-7">
                <select name="location" class="form-control" ng-model="suspectObj.location" ng-options="city.city for city in cities" required>
                  <option value=""> -- Choose Location -- </option>
                </select>
                <label class="control-label error" ng-show="suspectForm.location.$error.required && suspectForm.location.$dirty">this field is required.
                </label>
              </div>
            </div> 
            <div class="form-group">
              <label class="col-sm-3 control-label">Prize:</label>
              <div class="col-sm-7">
                <input type="number" class="form-control" placeholder="prize" name="prize" ng-model="suspectObj.prize" required>
                <label class="control-label error" ng-show="suspectForm.prize.$error.number && suspectForm.prize.$dirty">please type a number
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Last Seen:</label>
              <div class="col-sm-7">
                <input class="form-control" placeholder="last seen" name="lastSeen" type="date" ng-model="suspectObj.lastSeen" required>
                <label class="control-label error" ng-show="suspectForm.lastSeen.$error.required && suspectForm.lastSeen.$dirty">this field is required
                </label> 
              </div>
            </div>
            <div class="form-group">
              <label for="status" class="col-sm-3 control-label">Status</label>
              <div class="col-sm-7">
                <select class="form-control" id="status" name="status" ng-model="suspectObj.isWanted" required>
                  <option value=""> -- Choose Status -- </option>
                  <option>yes</option>
                  <option>no</option>
                </select>
                <label class="control-label error" ng-show="suspectForm.status.$error.required && suspectForm.status.$dirty">this field is required
                </label>
              </div>
            </div> 
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input class="btn btn-primary" type="submit" value="submit">
        </div>
      </form>  
    </div>
  </div>
</div>