<nav class="navbar navbar-default" role="navigation" ng-controller="panelController as panelCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <!-- <span class="sr-only">Toggle navigation</span> -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">suicide squad recruitment</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-repeat="item in panelItems">
        <li ng-class="{active:isSelected(item.id)}" >
         <a href ng-click="selectTab(item.id)">{{item.name}}</a>
       </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
      <li>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#addSuspect">Add Suspect
        </button>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choose Language <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" ng-click="changeLang('en')">English</a></li>
          <li class="divider"></li>
          <li><a href="#" ng-click="changeLang('ar')">Arabic</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="addSuspect" tabindex="-1" role="dialog" aria-labelledby="addSuspectLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="addSuspectLabel">Add Suspect</h4>
      </div>
      <form accept-charset="UTF-8" role="form" name="suspectForm" ng-controller="manageSuspectController as suspectCtrl" ng-submit="suspectForm.$valid && addSuspect(suspectObj)" >
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <input class="form-control" placeholder="name" name="name" type="text" ng-model="suspectObj.name" required>
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="location" name="location" type="text" ng-model="suspectObj.location" required>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="prize" ng-model="suspectObj.prize" required>
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="last seen" name="lastSeen" type="date" ng-model="suspectObj.lastSeen" required> 
            </div>
            <div class="checkbox">
              <label>
                <input name="is wanted" type="checkbox" value="isWanted" ng-model="suspectObj.isWanted"> is wanted
              </label>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input class="btn btn-primary" type="submit" value="submit">
        </div>
      </form>  
    </div>
  </div>
</div>