<div>
  <nav class="navbar navbar-default" role="navigation" ng-controller="panelController as panelCtrl">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <!-- <span class="sr-only">Toggle navigation</span> -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">suicide squad recruitment</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-init="tab = 1">
        <ul class="nav navbar-nav">
          <!-- <li ng-class="{active:isSelected(item.id)}" >
           <a href ng-click="selectTab(item.id)">{{item.name}}</a>
         </li> -->
         <li ng-class="{active:tab===1}">
           <a href="#/dashboard"ng-click="tab=1" >Dashboard</a>
         </li>
         <li ng-class="{active:tab===2}">
           <a href="#/list" ng-click="tab=2">List all suspects</a>
         </li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
     <li>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#addSuspect">Add Suspect
        </button>
      </li> 
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choose Language <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" ng-click="changeLang('en')">English</a></li>
          <li class="divider"></li>
          <li><a href="#" ng-click="changeLang('ar')">Arabic</a></li>
        </ul>   
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="addSuspect" tabindex="-1" role="dialog" aria-labelledby="addSuspectLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="addSuspectLabel">Add Suspect</h4>
      </div>
      <form class="form-horizontal" name="suspectForm" ng-controller="manageSuspectController as suspectCtrl" ng-submit="suspectForm.$valid && addSuspect(suspectObj)" novalidate>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <label class="col-sm-3 control-label">Name:</label>
              <div class="col-sm-7">
                <input class="form-control" placeholder="name" name="name" type="text" ng-model="suspectObj.name" required ng-pattern="/^[a-zA-Z\s]+$/" ng-minlength=3>
                <label class="control-label error" ng-show="showValidation && suspectForm.name.$error.required">This field is required.
                </label>
                <label class="control-label error" ng-show="suspectForm.name.$error.pattern && showValidation">please enter letters only
                </label>
                <label class="control-label error" ng-show="suspectForm.name.$error.minlength && showValidation">please enter 3 letters at least
                </label>
              </div>
            </div> 
            <div class="form-group">
              <label class="col-sm-3 control-label">Location:</label>
              <div class="col-sm-7">
                <select name="location" class="form-control" ng-model="suspectObj.location" ng-options="city.city for city in cities" required>
                  <option value=""> -- Choose Location -- </option>
                </select>
                <label class="control-label error" ng-show="suspectForm.location.$error.required && showValidation">this field is required.
                </label>
              </div>
            </div> 
            <div class="form-group">
              <label class="col-sm-3 control-label">Prize:</label>
              <div class="col-sm-7">
                <input type="number" class="form-control" placeholder="prize" name="prize" ng-model="suspectObj.prize" required>
                <label class="control-label error" ng-show="suspectForm.prize.$error.required && showValidation">this field is required.
                </label>
                <label class="control-label error" ng-show="suspectForm.prize.$error.number && showValidation">
                  please type a number
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Last Seen:</label>
              <div class="col-sm-7">
                <input class="form-control" placeholder="last seen" name="lastSeen" type="date" ng-model="suspectObj.lastSeen" required>
                <label class="control-label error" ng-show="suspectForm.lastSeen.$error.required && showValidation">
                  this field is required
                </label> 
              </div>
            </div>
            <div class="form-group">
              <label for="status" class="col-sm-3 control-label">Status</label>
              <div class="col-sm-7">
                <select class="form-control" name="status" ng-model="suspectObj.status" required>
                  <option value=""> -- Choose Status -- </option>
                  <option>deceased</option>
                  <option>fugitive</option>
                  <option>escaped</option>
                  <option>prisoned</option>
                </select>
                <label class="control-label error" ng-show="suspectForm.status.$error.required && showValidation">
                  this field is required
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">description:</label>
              <div class="col-sm-7">
                <textarea  class="form-control" placeholder="description" name="description" ng-model="suspectObj.description">
                </textarea >
              </div>
            </div>  
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input class="btn btn-primary" type="submit" value="submit" ng-click="triggerValidation()">
        </div>
      </form>  
    </div>
  </div>
</div>
</div>